@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ruda:wght@400;600;700&display=swap");

:root {
    --calendar-bg-color: #f5f5f5;
    --calendar-font-color: #333;
    --weekday-border-bottom-color: #666;
    --calendar-date-hover-colot: #e0e0e0;
    --calendar-dummy-color: #f0f0f0;
    --calendar-current-date-color: #ff5722;
    /* --calendar-current-date-color: #ffe0b2; */
    --calendar-border-color: #e0e0e0;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "poppins", sans-serif;
    overflow: hidden;
}

.calendar {
    background-color: var(--calendar-bg-color);
    color: var(--calendar-font-color);
    border-radius: 5px;
    max-width: 450px;
    width: 100%;
    box-shadow: 5px 5px 15px var(--calendar-bg-color);
}

.calendar_headings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.fa-solid.fa-arrow-left,
.fa-solid.fa-arrow-right {
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--calendar-font-color);
}

.current_datetime {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--calendar-current-date-color);
    padding: 0.7rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.current_datetime .daytxt {
    background-color: green;
    color: var(--calendar-font-color);
    border-radius: 5px;
    padding: 0.5rem 1rem;
}

.days_date ul {
    list-style: none;
}

.days_date .days, 
.dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.days_date .days li {
    border-bottom: 1px solid var(--weekday-border-bottom-color);
    margin: 0 0.2rem;
}

.dates li {
    padding: 0.5rem 0;
    margin: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    color: var(--calendar-font-color);
}

.days_date .dates li:hover {
    background-color: var(--calendar-date-hover-colot);
    color: var(--calendar-bg-color);
}

.days_date .dates li.dummy {
    background-color: var(--calendar-dummy-color);
    cursor: default;
}